body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

/* Style untuk center */
center {
	margin-top: 50px;
}

/* Style untuk header */
h1 {
	text-align: center;
	color: #333;
}

/* Style untuk tabel */
table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style untuk header kolom */
th {
	background-color: #4caf50;
	color: #fff;
	padding: 12px;
	text-align: left;
}

/* Style untuk sel data */
td {
	padding: 8px;
}

/* Style untuk baris ganjil */
tr:nth-child(odd) {
	background-color: #f2f2f2;
}

/* Style untuk link kembali */
a {
	text-decoration: none;
	color: #4caf50;
	font-weight: bold;
	transition: color 0.3s ease;
}

a:hover {
	color: #70e970;
}
